/* Global styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'Geologica', sans-serif;
  background-color: #f7f7f7;
}

.container {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 1.25rem;
}

.top {
  background: linear-gradient(to bottom, #f5f5f5, #e6e6e6);
  padding: 2rem;
  padding-bottom: 2.5rem;
}

/* Navbar styles */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: #FEFBF6;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  padding: 0.625rem 0;
  transition: all 0.3s ease-in-out;
}

.navbar.scrolled {
  box-shadow: 0 1.5rem 1.8rem rgba(75, 73, 73, 0.2);
}

.navbar:hover {
  box-shadow: 0 0.5rem 0.8rem rgba(75, 73, 73, 0.2);
}

.navbar-brand {
  font-family: 'Geologica', sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  font-weight: 500;
  color: black;
}

.navbar-toggler {
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
}

.nav-item {
  margin-left: 0.625rem;

}

.nav-link {
  color: black;
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-link:hover {
  text-shadow: 0 0.0625rem 0.125rem black;
  transform: translateY(-2px);
}

/* Intro section styles */
.intro {
  background-color: #F05454;
  padding: 8rem;
  color: white;
  text-align: center;
}

.intro h1 {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 1.25rem;
}

#name {
  font-weight: bolder;
  font-size: 4.5rem;
  color: #3c0101;
  letter-spacing: 0.5rem;
}

.intro p {
  font-size: 1.5rem;
  color: white;
  line-height: 1.5;
}

/* Skills section styles */
.skills {
  background-color: #30475E;
  padding: 5rem 0;
  text-align: center;
}

.skills .header {
  font-size: 2.25rem;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 2.5rem;
}

.logos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
  grid-gap: 1.25rem;
}

.ls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.svg {
  width: 4rem;
  height: 4rem;
  margin-bottom: 0.625rem;
  transition: transform 0.3s;
  /* Add a transition for smooth size increase on hover */
}

.ls:hover .svg {
  transform: scale(1.2);
  /* Increase the size of the icons on hover */
}

.ls span {
  font-size: 1rem;
  color: #ffffff;
}

/* Projects section styles */
.third {
  background: linear-gradient(to bottom, #f5f5f5, #e6e6e6);
  padding: 2rem;
  padding-bottom: 2.5rem;
}

.projects {
  background-color: #393E46;
  padding: 2.25rem;
  color: #FCFAF1;
}

.projects .header {
  font-size: 2.25rem;
  font-weight: 500;
  color: #FCFAF1;
  margin-bottom: 2.5rem;
  text-align: center;
}

.project-grid {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
  grid-gap: 1.875rem;
}

.project {
  background-color: #ffffff;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  padding: 1.25rem;
  transition: all 0.3s ease-in-out;
  border-radius: 5%;
}

.project:hover {
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
  transform: translateY(-0.25rem);
}

.project h3 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #333333;
  margin-bottom: 0.625rem;
}

.project p {
  font-size: 1rem;
  color: #666666;
  margin-bottom: 1.25rem;
}

.project ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.project li {
  font-size: 1rem;
  color: #666666;
  margin-bottom: 0.625rem;
}