body {
    font-size: 1 rem;
    font-family: 'Geologica', sans-serif !important;
    font-weight: 500;
}

.mylogo {
    padding: 0.5rem;
    font-size: 1.25rem;
    letter-spacing: 1px;
}

.top {
    background-image: radial-gradient(#05368b 10%, transparent 10%);
    background-size: 3px 3px;
    background-color: #5CDB95;
    padding: 0%;
    padding-bottom: 2%;
    color: #EDF5E1;
}

strong {
    font-family: 'Paytone One', sans-serif;
    font-size: 4.5rem;
}

#name {
    color: #05386b;
    letter-spacing: 0.5rem;
}

.header {
    color: #edf5e1;
    text-align: center;
    justify-content: center;
    padding: 2rem;

}

.navbar {
    position: sticky;
    top: 0;
    z-index: 100;
    transition: all 0.5s ease-in-out;
}

/*.s1 {
    display: flex;
    flex: 1;
    max-width: 50%;
    flex-wrap: wrap;
    justify-self: unset;
    justify-content: space-evenly;
}*/

.a1 {
    text-decoration: none !important;
    font-size: 1.25rem;
    color: black;
    transition: all 0.3s ease-in-out;
    padding: 0.7rem;
}

.a1 i {
    font-size: 1.6rem;
}

.a1:hover {
    background-color: #05386b;
    border: solid 1px #05386b;
    border-radius: 0.51rem;
    color: #EDF5E1;
    font-size: 1.3rem;
    cursor: pointer;
}

/*.a1sr:hover {
    background-color: white;
    border: solid 1px white;
    border-radius: 0.51rem;
    color: black;
    font-size: 1.3rem;
    cursor: pointer;
}*/

.intro {
    margin: 1.5rem;
    margin-top: 5rem;
    text-align: center;
    justify-content: center;
}

.para {
    justify-content: center;
    height: fit-content;
    width: 70%;
    padding: 1.5rem;
    margin: 0 auto;
    font-size: 1.5rem;
}

.skills {
    color: #EDF5E1;
    width: 100%;
    height: 30%;
    background-image: radial-gradient(#EDF5E1 10%, transparent 10%);
    background-size: 3px 3px;
    background-color: #031c48;
}

.svg {
    height: 6rem;
    width: 6rem;
    transition: all 0.3s;
}

.svg:hover {
    height: 7rem;
    width: 7rem;
}

.logos {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(5, 10rem);
    gap: 0.5rem;
}

.ls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}



.ls span {
    display: block;
    text-align: center;
    justify-content: center;
}

.navscrolled {
    transition: all 0.5s;
    color: white;
    background-color: black;
    box-shadow: 1px 1px 1px rgb(56, 54, 54);
}

.navscrolled .a1 {
    color: white;
}

@media (max-width: 768px) {
    h1 {
        font-size: 4rem;
    }

    .navbar1 {
        flex-direction: column;
        position: relative;
        background-color: black;
    }

    .mylogo {
        border-bottom: 2px solid white;
    }

    .s1 {
        flex-direction: column;
    }

    .a1 {
        border-bottom: 1px solid white;
    }

    .a1:last-child {
        border-bottom: none;
    }
}

.projects {
    color: #333333;
    width: 100%;
    padding: 2rem;
    background-color: #F5F5F5;
}

.projects .header {
    text-align: center;
    padding: 2rem;
    color: #333333;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    justify-items: center;
    align-items: flex-start;
}

.project {
    background-color: #FFFFFF;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.project h3 {
    color: #333333;
    font-size: 18px;
    margin-bottom: 0.5rem;
}

.project p {
    color: #777777;
    margin-bottom: 1rem;
    font-size: 14px;
}

.project ul {
    margin-bottom: 0;
    padding-left: 1.5rem;
    list-style-type: disc;
}

.project ul li {
    margin-bottom: 0.5rem;
    color: #777777;
    font-size: 14px;
}

@media only screen and (max-width: 768px) {
    .project-grid {
        grid-template-columns: 1fr;
    }
}